:root {
    --blue: rgb(80, 106, 145);
    --yellow: rgb(230, 198, 56);
}

body {
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
}

h1 {
    font-size: 1.6rem;
    font-weight: 900;
}

p {
    font-size: 1.2rem;
    font-weight: 500;
}

#main {
    width: 55%;
    margin: 0 auto;
}

#exercise {
    max-width: 100%;
    height: auto;
    height: auto;
    margin: 0 auto;
    margin-top: 7%;
    padding: 4% 2%;
    border: 5px solid var(--blue);
    border-radius: 20px;
}

#exercise-description {
    text-align: center;
    line-height: 220%;
}

#form-numbers {
    width: 90%;
    margin: 8% auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#form-numbers input {
    width: 250px;
    margin-bottom: 16%;
    padding: 4% 0;
    border: 2px solid black;
    text-align: center;
    font-size: 0.95rem;
    font-weight: 500;
}

#minorNumber {
    border: 2px solid var(--blue);
    font-size:  5rem;
}

#form-buttons {
    width: 64%;
    margin: 0 auto;
    margin-top: -4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-buttons button {
    width: 150px;
    height: 50px;
    padding: 2%; 
    border-radius: 8px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
}

#buttonCalculate {
    border: 3px solid var(--yellow);
    background-color: var(--yellow);
}

#buttonCalculate:hover {
    cursor: pointer;
    background-color: white;
}

#buttonReset {
    border: 3px solid var(--blue);
    background-color: var(--blue);
    color: white;
}

#buttonReset:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

#exercise-answer {
    margin-top: 8%;
    text-align: center;
    line-height: 120%;
}

#exercise-answer p {
    font-size: 1.1rem;
}

#answer-minor strong {
    color: var(--blue);
}

#answer-mayor strong {
    color: var(--yellow);
}